.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  background-color: black;
  color: white;
  border: 1px solid #dddddd;
  list-style: none;
  margin: 0;
  width: 167px;
  gap: 15px;
}

.dropdown-item {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-item:hover {
  background-color: gray;
}
